cells/semar/homeProfiles/ags/_config/node_modules/
cells/semar/homeProfiles/ags/_config/types/
cells/semar/homeProfiles/ags/_config/package-lock.json
cells/semar/homeProfiles/ags/_config/weather_key
cells/semar/homeProfiles/ags/_config/setup.sh
